<div class="profile-page-outer-container">
  <div class="profile-page-inner-container">
    <div class="profile-title-container">
      <div class="profile-name-container">
        <h1>Crystal Liu</h1>
        <span class="age">35</span>
        <span class="dance-key-words">Tango, Standard</span>
      </div>
    </div>
    <mat-tab-group class="dance-details">
      <mat-tab label="Ich tanze"> Ich tanze </mat-tab>
      <mat-tab label="Ich suche"> Ich suche </mat-tab>
    </mat-tab-group>
  </div>
</div>
