<form novalidate [formGroup]="verificationForm" (ngSubmit)="submitForm()">
  <ng-container *ngIf="authStorageService.authData$ | async as authData">
    <mat-card-content class="login-form-container flex flex-col">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>E-Mail</mat-label>
        <input
          data-test="email-field"
          formControlName="email"
          matInput
          placeholder="max.mustermann@beispiel.de"
          type="email"
        />
        <mat-error data-test="email-error-empty">
          Bitte geben Sie Ihre E-Mail Adresse an.
        </mat-error>
        <mat-error data-test="email-error-format">
          Bitte geben Sie eine gültige E-Mail Adresse an.
        </mat-error>
      </mat-form-field>
      <ng-container *ngIf="!authData.isHuman || isCaptchaSolved">
        <div class="captcha">
          <re-captcha
            siteKey="6LetqBAgAAAAAJXA5K_U88bsxKtyp_vld6J0x-Nv"
            (resolved)="captchaResolved($event)"
          ></re-captcha>
        </div>
      </ng-container>
      <mat-error *ngIf="captchaError">
        Es ist ein Fehler aufgetreten, bitte versuche es später erneut.
      </mat-error>
      <button
        class="full-width background-color-500"
        data-test="submit-verification"
        color="primary"
        mat-raised-button
        [disabled]="!verificationForm.valid"
      >
        {{ submitButtonText }}
      </button>
    </mat-card-content>
  </ng-container>
</form>
