<h1 class="page-header" data-test="title">Registrierung</h1>
<form novalidate [formGroup]="registrationForm" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>E-Mail</mat-label>
    <input
      data-test="email-field"
      formControlName="email"
      matInput
      placeholder="max.mustermann@beispiel.de"
      type="email"
    />
    @if (errorHandling('email', 'required')) {
      <mat-error data-test="email-error-empty">
        Bitte geben Sie Ihre E-Mail Adresse an.
      </mat-error>
    }
    @if (errorHandling('email', 'email')) {
      <mat-error data-test="email-error-format">
        Bitte geben Sie eine gültige E-Mail Adresse an.
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Passwort</mat-label>
    <input
      data-test="password-field"
      formControlName="password"
      matInput
      type="password"
    />
    @if (errorHandling('password', 'required')) {
      <mat-error data-test="password-field-empty">
        Bitte geben Sie ein Passwort ein.
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Passwort wiederholen</mat-label>
    <input
      data-test="password-confirm-field"
      formControlName="passwordConfirm"
      matInput
      type="password"
    />
    @if (errorHandling('passwordConfirm', 'required')) {
      <mat-error data-test="password-confirm-field-empty">
        Bitte geben Sie ein Passwort ein.
      </mat-error>
    }
    @if (errorHandling('passwordConfirm', 'matching')) {
      <mat-error data-test="password-confirm-field-no-match">
        Die eingegebenen Passwörter stimmen nicht überein.
      </mat-error>
    }
  </mat-form-field>
  <div class="accept-terms mb-4 flex align-middle">
    <mat-checkbox formControlName="acceptTermsAndConditions"></mat-checkbox>
    <div class="py-[6px]">
      Ich habe die
      <a routerLink="/terms-and-conditions" class="text-link">AGB</a> und die
      <a routerLink="/privacy" class="text-link">Datenschutzerklärung</a>
      gelesen und akzeptiere sie.
    </div>
  </div>
  @if (loggedInAsHuman) {
    <p class="mb-2">Vielen Dank!</p>
  } @else {
    <div class="captcha mb-4">
      <re-captcha
        siteKey="6LetqBAgAAAAAJXA5K_U88bsxKtyp_vld6J0x-Nv"
        (resolved)="captchaResolved($event)"
      ></re-captcha>
    </div>
  }
  <button
    class="btn-block full-width"
    color="primary"
    data-test="confirm-registration"
    mat-raised-button
    [disabled]="!registrationForm.valid"
  >
    Registrieren
  </button>
  @if (error) {
    <mat-error>
      <span> {{ error | errorMessage }} </span>
    </mat-error>
  }
</form>
