.page-wrapper {
  // the navigation has a height of 64px
  // the footer has height of 60px
  display: flex;
  justify-content: center;
  margin-top: 64px;
  min-height: calc(100vh - 64px - 60px);
}

.page-content-wrapper {
  width: min(100vw, 900px);
  padding: 32px;
  background: white;
}
