<div>
  <h1 class="page-header">Profilbild hochladen</h1>

  <div class="form-info mb-4">
    <p>
      Erhöhe deine Chancen einen Tanzpartner zu finden, indem du ein Profilbild
      hochlädst.
    </p>
  </div>

  <button
    (click)="fileInput.click()"
    [color]="croppedImage ? undefined : 'primary'"
    mat-flat-button
  >
    Wähle ein Bild
  </button>

  <!-- Hidden input -->
  <input
    #fileInput
    (change)="fileChangeEvent($event)"
    accept="image/*"
    hidden
    type="file"
  />

  <ng-container *ngIf="imageChangedEvent">
    <p class="mt-4 mb-2">Bitte schneide das Bild hier zu:</p>
    <div class="image-cropper-container">
      <image-cropper
        (imageCropped)="imageCropped($event)"
        [aspectRatio]="4 / 4"
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        format="png"
      ></image-cropper>
    </div>
  </ng-container>

  <div class="buttons">
    <button class="btn-skip big-button" mat-button (click)="nextStep()">
      Schritt überspringen
    </button>
    <button
      class="btn-save big-button"
      color="primary"
      mat-flat-button
      [disabled]="!croppedImage"
      (click)="uploadAndNext()"
    >
      Bild speichern
    </button>
  </div>
</div>
