<div>
  <h1>Profilbild hochladen</h1>

  <div class="form-info">
    <p>
      Erhöhe deine Chancen einen Tanzpartner zu finden, indem du ein Profilbild
      hochlädst.
    </p>
  </div>

  <button
    (click)="fileInput.click()"
    [color]="croppedImage ? undefined : 'primary'"
    mat-flat-button
  >
    Wähle ein Bild
  </button>

  <!-- Hidden input -->
  <input
    #fileInput
    (change)="fileChangeEvent($event)"
    accept="image/*"
    hidden
    type="file"
  />

  <div class="image-cropper-container" *ngIf="imageChangedEvent">
    <image-cropper
      (imageCropped)="imageCropped($event)"
      [aspectRatio]="4 / 4"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [roundCropper]="true"
      format="png"
    ></image-cropper>
  </div>

  <div class="buttons">
    <button class="btn-skip big-button" mat-button (click)="nextStep()">
      Schritt überspringen
    </button>
    <button
      class="btn-save big-button"
      color="primary"
      mat-flat-button
      [disabled]="!croppedImage"
      (click)="uploadAndNext()"
    >
      Bild speichern
    </button>
  </div>
</div>

<!--<div class="profile-edit-page-outer-container">-->
<!--  <h1>Profilbild hochladen</h1>-->
<!--  <div class="profile-edit-form-container">-->
<!--    <div-->
<!--      class="description-section"-->
<!--      ngStyle.gt-sm="max-width: 300px;"-->
<!--      ngStyle.gt-xs="max-width: 256px;  border-right: 1px solid #8c020b;"-->
<!--      ngStyle.xs="margin-bottom: 16px"-->
<!--    >-->
<!--      <p>Mit Profilbild hast du bessere Chance angesprochen zu werden.</p>-->
<!--      <p>Profilbild kannst du auch später hochladen.</p>-->
<!--    </div>-->
<!--    <div class="form-section-container">-->
<!--      <div>-->
<!--        <button (click)="fileInput.click()" color="primary" mat-button>-->
<!--          <mat-icon>image</mat-icon>-->
<!--          <span>Wähle ein Bild</span>-->
<!--        </button>-->
<!--        <span></span>-->
<!--        &lt;!&ndash; Hidden input &ndash;&gt;-->
<!--        <input-->
<!--          #fileInput-->
<!--          (change)="fileChangeEvent($event)"-->
<!--          accept="image/*"-->
<!--          hidden-->
<!--          type="file"-->
<!--        />-->
<!--        <button-->
<!--          (click)="upload()"-->
<!--          *ngIf="croppedImage"-->
<!--          bg="accent"-->
<!--          mat-button-->
<!--          raised-->
<!--        >-->
<!--          Hochladen-->
<!--        </button>-->
<!--      </div>-->

<!--      <div style="width: 200px; height: 200px">-->
<!--        <image-cropper-->
<!--          (imageCropped)="imageCropped($event)"-->
<!--          [aspectRatio]="4 / 4"-->
<!--          [imageChangedEvent]="imageChangedEvent"-->
<!--          [maintainAspectRatio]="true"-->
<!--          format="png"-->
<!--        ></image-cropper>-->
<!--      </div>-->

<!--      &lt;!&ndash;TODO: Diese Seite muss noch schöner sein. &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="button-row" fxLayout.gt-xs="row" fxLayout.xs="column">-->
<!--    <button-->
<!--      class="font-color-primary-800 button-width-relative"-->
<!--      mat-raised-button-->
<!--      routerLink="../dances-partner"-->
<!--    >-->
<!--      Zurück-->
<!--    </button>-->
<!--    <button-->
<!--      (click)="nextStep()"-->
<!--      [disabled]="!uploadResonse?.isSuccess"-->
<!--      class="font-color-primary-800 button-width-relative"-->
<!--      mat-raised-button-->
<!--    >-->
<!--      Weiter-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
