<nav class="bg-rose-700">
  <div class="relative mx-auto max-w-[1200px] px-4 md:px-10">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex items-center">
        <a href="/"
          ><img
            alt="Dancier Logo"
            src="../../../../../../assets/img/dancier-logo-with-text.png"
            style="height: 40px"
        /></a>

        <app-desktop-menu
          class="hidden md:block"
          [menuItems]="menuItems"
        ></app-desktop-menu>
      </div>

      <div class="inset-y-0 flex items-center">
        <app-mobile-menu-button
          class="md:hidden"
          [menuOpen]="mobileMenuOpen"
          (click)="toggleMobileMenu()"
        >
        </app-mobile-menu-button>
        <app-profile-menu-button
          class="hidden md:block"
          (profileButtonClicked)="
            profilePopupOpen ? closeProfileMenu() : openProfileMenu()
          "
        ></app-profile-menu-button>
      </div>
    </div>
    <app-profile-menu
      *ngIf="profilePopupOpen"
      class="hidden md:block"
      [menuItems]="profileMenuItems"
      (clickOutside)="closeProfileMenu()"
    >
    </app-profile-menu>
  </div>

  <app-mobile-menu
    *ngIf="mobileMenuOpen"
    [menuItems]="menuItems.concat(profileMenuItems)"
  >
  </app-mobile-menu>
</nav>
