@use '/src/styles/design' as *;

:host {
  display: block;
  border: 1px solid color-grey(200);
  @include rounded('md');

  background-color: white;
  @include shadow('sm');

  position: relative;
  bottom: 0;

  &:hover {
    @include shadow('lg');

    bottom: 0;
    border: 1px solid color-grey(300);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
}

.dancer-image {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.dancer-info {
  padding: 24px 32px;
}
