<div class="registration-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">

    <mat-card-header>
      <mat-card-title>Registrierung</mat-card-title>
    </mat-card-header>

    <form [formGroup]="registrationForm" (ngSubmit)="submitForm()" novalidate>
      <mat-card-content>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Vollständiger Name</mat-label>
          <input matInput formControlName="name" placeholder="Max Mustermann" />
          <mat-error *ngIf="errorHandling('name', 'required')">
            Bitte geben Sie Ihren Namen an.
          </mat-error>
          <mat-error *ngIf="errorHandling('name', 'minlength')">
            Ihr Name muss mindestens 5 Zeichen lang sein.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nutzername</mat-label>
          <input matInput formControlName="username" placeholder="m.mustermann" />
          <mat-error *ngIf="errorHandling('username', 'required')">
            Bitte geben Sie einen Nutzernamen an.
          </mat-error>
          <mat-error *ngIf="errorHandling('username', 'minlength')">
            Ihr Nutzername muss mindestens 3 Zeichen lang sein.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>E-Mail</mat-label>
          <input matInput formControlName="email" type="email"  placeholder="max.mustermann@beispiel.de" />
          <mat-error *ngIf="errorHandling('email', 'required')">
            Bitte geben Sie Ihre E-Mail Adresse an.
          </mat-error>
          <mat-error *ngIf="errorHandling('email', 'email')">
            Bitte geben Sie eine gültige E-Mail Adresse an.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Passwort</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-error *ngIf="errorHandling('password', 'required')">
            Bitte geben Sie ein Passwort ein.
          </mat-error>
        </mat-form-field>
        <button mat-stroked-button color="primary" class="btn-block full-width" [disabled]="!registrationForm.valid">Registrieren</button>
      </mat-card-content>
    </form>

  </mat-card>
</div>
