.page-wrapper {
  // the navigation has a height of 64px
  // the footer has height of 60px
  margin-top: 64px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 64px - 60px);
}

.page-content-wrapper {
  background: white;
  width: min(100vw, 928px);
}
