<div
  *ngFor="let danceGroup of danceExperiences.controls; let i = index"
  class="dance-experience-entry"
>
  <app-dance-experience-entry
    [formGroup]="danceGroup"
  ></app-dance-experience-entry>
  <div *ngIf="danceExperiences.length > 1" class="entry-actions">
    <button class="remove-button" mat-stroked-button (click)="removeDance(i)">
      Tanz entfernen
    </button>
  </div>
</div>

<div class="add-button-container">
  <button class="add-button" mat-stroked-button (click)="addDance()">
    Tanz hinzufügen
  </button>
</div>
