<form novalidate (ngSubmit)="submitForm()" [formGroup]="verificationForm">
  <mat-card-content class="login-form-container" fxLayout="column">
    <mat-form-field appearance="fill" class="full-width" fxFlex>
      <mat-label>E-Mail</mat-label>
      <input
        data-test="email-field"
        formControlName="email"
        matInput
        placeholder="max.mustermann@beispiel.de"
        type="email"
      />
      <mat-error data-test="email-error-empty">
        Bitte geben Sie Ihre E-Mail Adresse an.
      </mat-error>
      <mat-error data-test="email-error-format">
        Bitte geben Sie eine gültige E-Mail Adresse an.
      </mat-error>
    </mat-form-field>
    <!--TODO: add captcha-->
    <button
      [disabled]="!verificationForm.valid"
      class="full-width background-color-500"
      data-test="submit-verification"
      mat-raised-button
    >
      {{submitButtonText}}
    </button>
  </mat-card-content>
</form>
