<form (ngSubmit)="submitForm()" [formGroup]="loginForm" novalidate>
  <mat-card-content class="login-form-container" fxLayout="column">
    <mat-form-field appearance="fill" class="full-width" fxFlex>
      <mat-label>E-Mail</mat-label>
      <input
        data-test="email-field"
        formControlName="email"
        matInput
        placeholder="max.mustermann@beispiel.de"
        type="email"
      />
      <mat-error
        *ngIf="errorHandling('email', 'required')"
        data-test="email-error-empty"
      >
        Bitte geben Sie Ihre E-Mail Adresse an.
      </mat-error>
      <mat-error
        *ngIf="errorHandling('email', 'email')"
        data-test="email-error-format"
      >
        Bitte geben Sie eine gültige E-Mail Adresse an.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width" fxFlex>
      <mat-label>Passwort</mat-label>
      <input
        [type]="hide ? 'password' : 'text'"
        data-test="password-field"
        formControlName="password"
        matInput
      />
      <mat-icon (click)="hide = !hide" matSuffix
        >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon
      >
      <mat-error
        *ngIf="errorHandling('password', 'required')"
        data-test="password-field-empty"
      >
        Bitte geben Sie ein Passwort ein.
      </mat-error>
    </mat-form-field>
    <button
      [disabled]="!loginForm.valid"
      class="full-width background-color-500"
      data-test="submit-login"
      mat-raised-button
    >
      Anmelden
    </button>
    <mat-error *ngIf="error">
      <span> {{error | errorMessage}} </span>
    </mat-error>
    <ng-container *ngIf="error === 'EMAIL_NOT_VALIDATED'; then emailNotValidatedLink; else passwordResetLink"></ng-container>
    <ng-template #emailNotValidatedLink>
      <a [routerLink]="" (click)="resendLink()">Keine E-Mail erhalten?</a>
    </ng-template>
    <ng-template #passwordResetLink>
      <a href="registration/reset-password">Passwort vergessen?</a>
    </ng-template>
  </mat-card-content>
</form>
