<form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
  <mat-card-content fxLayout="column" class="login-form-container">
    <mat-form-field fxFlex appearance="fill" class="full-width">
      <mat-label>E-Mail</mat-label>
      <input data-test="email-field" matInput formControlName="email" type="email"
             placeholder="max.mustermann@beispiel.de"/>
      <mat-error data-test="email-error-empty" *ngIf="errorHandling('email', 'required')">
        Bitte geben Sie Ihre E-Mail Adresse an.
      </mat-error>
      <mat-error data-test="email-error-format" *ngIf="errorHandling('email', 'email')">
        Bitte geben Sie eine gültige E-Mail Adresse an.
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex appearance="fill" class="full-width">
      <mat-label>Passwort</mat-label>
      <input data-test="password-field" matInput formControlName="password" [type]="hide ? 'password' : 'text'" >
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error data-test="password-field-empty" *ngIf="errorHandling('password', 'required')">
        Bitte geben Sie ein Passwort ein.
      </mat-error>
    </mat-form-field>
    <button data-test="submit-login" mat-raised-button class="full-width background-color-500"
            [disabled]="!loginForm.valid">Anmelden
    </button>
    <mat-error *ngIf="errorMessage">
      <span>
        {{errorMessage}}
      </span>
    </mat-error>
  </mat-card-content>
</form>
