<div
  class="reset-password-wrapper"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title data-test="title">Passwort zurücksetzen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Bitte gib die E-Mail Adresse an, mit der du dich bei uns registriert
        hast. Du erhälst einen Link, mit dem du dein Passwort zurücksetzen
        kannst.
      </p>

      <app-send-verification-link-form
        [linkType]="'PASSWORD_RESET'"
      ></app-send-verification-link-form>
    </mat-card-content>
  </mat-card>
</div>
