h1 {
  margin-bottom: 32px;
}

p {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.35;

  &.no-margin {
    margin-bottom: 0;
  }
}

.mat-form-field {
  margin-bottom: 24px;
  width: 250px;
}

app-alert {
  margin-bottom: 32px;
}

button {
  float: left;
}
