<form [formGroup]="personalDataForm" (ngSubmit)="submitForm()">
  <h1 class="page-header">Persönliche Daten</h1>

  <div class="form-info">
    <p class="mb-2">
      Um dir passende Tanzpartner vorschlagen zu können, benötigen wir noch ein
      paar Angaben von dir.
    </p>
    <p>Die Angaben erscheinen später in deinem Profil.</p>
  </div>

  <app-personal-data-form
    [formGroup]="personalDataForm"
  ></app-personal-data-form>

  @if (error) {
    <mat-error>
      <span> {{ error | errorMessage }} </span>
    </mat-error>
  }

  <button class="big-button" color="primary" mat-flat-button type="submit">
    Nächster Schritt
  </button>
</form>
