<div class="personal-data-inner-container" fxLayout.xs="column">
  <div *ngIf="profile">
    <div class="personal-data-basic personal-data-section">
      <h3>Persönliche Daten:</h3>

      <div class="description-container">
        <label>Benutzername: </label>
        <span>{{profile.dancerName}}</span>
      </div>

      <div class="description-container">
        <label>Geburtsdatum: </label>
        <span>{{profile.birthDate}}</span>
      </div>

      <div class="description-container">
        <label>Geschlecht: </label>
        <span>{{profile.gender}}</span>
      </div>
      <div class="description-container">
        <label>Körpergröße: </label>
        <span>{{profile.size}}</span>
      </div>
    </div>

    <div class="contact-data personal-data-section">
      <h3>Kontaktdaten:</h3>
      <div class="description-container">
        <label>E-Mail: </label>
        <span>{{profile.email}}</span>
      </div>
      <div class="description-container">
        <label>Stadt: </label>
        <span>{{profile.city}}</span>
      </div>
      <div class="description-container">
        <label>Land: </label>
        <span>{{profile.country}}</span>
      </div>
      <div class="description-container">
        <label>PLZ: </label>
        <span>{{profile.zipCode}}</span>
      </div>
    </div>
  </div>
</div>


