<div class="personal-data-inner-container" fxLayout.xs="column">

  <div class="personal-data-basic personal-data-section">
    <h3>Persönliche Daten:</h3>

    <div class="description-container">
      <label>Benutzername: </label>
      <span>{{username}}</span>
    </div>

    <div class="description-container">
      <label>Geburtsdatum: </label>
      <span>{{birthday}}</span>
    </div>

    <div class="description-container">
      <label>Geschlecht: </label>
      <span>{{gender}}</span>
    </div>
    <div class="description-container">
      <label>Körpergröße: </label>
      <span>{{height}}</span>
    </div>
  </div>

  <div class="contact-data personal-data-section">
    <h3>Kontaktdaten:</h3>
    <div class="description-container">
      <label>E-Mail: </label>
      <span>{{email}}</span>
    </div>
    <div class="description-container">
      <label>Stadt: </label>
      <span>{{city}}</span>
    </div>
    <div class="description-container">
      <label>Land: </label>
      <span>{{country}}</span>
    </div>
    <div class="description-container">
      <label>PLZ: </label>
      <span>{{zipCode}}</span>
    </div>
  </div>
</div>


