.personal-data-section {
  padding: 32px;
  margin: 8px 16px;
  line-height: 1.8em;
  border: 1px solid #8c020b;
  border-radius: 8px;
  background-color: white;

  h3 {
    color: #8c020b;
    font-weight: bold;
  }

  label {
    font-weight: bold;
  }
}

.personal-data-inner-container {
  display: flex;
  justify-content: center;

}
