:host {
  display: block;
}

.alert-container {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid;
  border-radius: 4px;
  padding: 16px;
  font-family: Dosis, sans-serif;
  font-size: 16px;

  &.warning {
    box-shadow: inset 8px 0 0 hsl(33deg 100% 45% / 12%);
    border-color: hsl(33deg 100% 45%);
    color: hsl(33deg 100% 45%);
  }

  &.error {
    box-shadow: inset 8px 0 0 hsl(0deg 100% 45% / 12%);
    border-color: hsl(0deg 100% 45%);
    color: hsl(0deg 100% 45%);
  }
}
