<div class="landing-page-container" fxFlex>
  <div class="background-color-accent-50 landing-page-content" fxLayout="row" fxLayout.xs="column"
       [ngStyle]="{'minHeight': landingPageContentMinHeight + 'px' }">
    <div fxFlex class="background-color-accent-50">
      <h2 class="font-color-primary-800">Start mit Deiner E-Mail</h2>
      <app-login-form></app-login-form>
    </div>
    <div fxFlex class="background-color-accent-100">
      <h2 class="font-color-primary-800">Wir bauen gerade eine Tanzcommunity auf, mit der Du</h2>
      <ul>
        <li>...Deine Tanzpartnerin, Deinen Tanzpartner finden kannst.</li>
        <li>...passende Tanzkurse oder Workshops findest</li>
        <li>...</li>
      </ul>
    </div>


  </div>

  <div fxLayout="row" fxLayout.xs="column" class="landing-page-info-area">

    <div class="mat-card background-color-accent-900" fxFlex>
      <div class="card-title-container">
        <h2>
          <mat-icon>money_off</mat-icon>
          Ewig Kostenlos
        </h2>
      </div>
      <p>Für Tanzer ist unsere Sucheservice ewig kostenlos. Einschränkfrei nutzen Sie alle Services, damit alle Tanzer
        mit
        machen können und für Sie die besten Tanzpartner gefunden werden.</p>
    </div>

    <div class="mat-card background-color-accent-400" fxFlex>
      <div class="card-title-container">
        <h2>
          <mat-icon>security</mat-icon>
          Ihre Daten
        </h2>
      </div>
      <p>Keine private Daten, die für Tanzpartnersuche nicht notwendig sind, werden verlangt.</p>
    </div>

    <div class="mat-card background-color-accent-800" fxFlex>
      <div class="card-title-container">
        <h2>
          <mat-icon>people</mat-icon>
          Community
        </h2>
      </div>
      <p>Wir sind Tanzer und wir sind Programmierer, und wir sind begeistert übers Tanzen und Prgrammieren!</p>
    </div>

  </div>
</div>


