<h2>Wir bauen gerade eine Tanzcommunity auf, mit der Du</h2>
<ul>
    <li>...Deine Tanzpartnerin, Deinen Tanzpartner finden kannst.</li>
    <li>...passende Tanzkurse oder Workshops findest</li>
    <li>...</li>
</ul>
<p>
    Start mit Deiner E-Mail: (place an input field here)
</p>

----

<h2>Wir sind...</h2>
<ul>
    <li>selber tanzbegeisterte</li>
    <li>mit Spass am Programmieren</li>
    <li>nur an Daten interessiert die wir wirklich benötigen</li>
    <li>dem Ziel verpflichtet alles zu tun, dass so viel wie möglich getanzt wird :-)</li>
    <li>für alle tanzenden kostenlos und werden dies auch immer bleiben. Versprochen!</li>
</ul>

----
<h2>Wir sind nicht...</h2>
<ul>
    <li>... an Deinen Daten interessiert außer sie sind wirklich nötig. So ist zum Beispiel eine Postleitzahl notwendig, damit wir ungefähr wissen wo Du wohnst, aber Deine genaue Adresse brauchen wir nicht.</li>
    <li>... an Deinem Geld interessiert. Es sollen möglichst viele tanzen und je mehr zahlen müssen, desto weniger nutzen das Angebot und destoweniger wird getanzt.</li>
    <li>... darauf angewiesen irgendwie von diesem Projekt zu leben und das wirst Du hoffentlichen an allen Stellen merken.</li>
</ul>