
<!-- Start Hero -->
<div class="p-10 lg:p-20 bg-gradient-to-t lg:bg-gradient-to-l from-orange-300 to-red-400">
  <div class="flex flex-col lg:flex-row items-center gap-4 lg:gap-20 lg:justify-around">
    <div class="max-w-[50vh] w-full lg:basis-[50%] lg:max-w-[600px] flex-none">
      <img class="w-full h-auto max-w-[100%] drop-shadow" src="assets/img/landing-page/header-dancers.svg" alt="Vector graphic of people dancing">
    </div>
    <div class="lg:basis-[400px] shrink-0 grow-0 text-center lg:text-right">
      <h1 class="text-7xl lg:text-9xl font-bold text-white my-4 drop-shadow">Dancier</h1>
      <p class="text-red-900 font-bold text-3xl lg:text-4xl">Wir verbinden Tänzer</p>
      <button class="my-12 bg-red-900 text-white font-bold py-3 px-8 rounded text-xl lg:text-2xl cursor-pointer" (click)="navigateToRegistration()">Jetzt registrieren</button>
    </div>
  </div>
</div>
<!-- End Hero -->
<div style="height:400px;">
<!-- TODO: Features-Element aus Figma -->
</div>

