@import 'responsive.scss';

/* dosis-regular - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/dosis-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/dosis-v27-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/dosis-v27-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/dosis-v27-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../assets/fonts/dosis-v27-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/dosis-v27-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-500 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/dosis-v27-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/dosis-v27-latin-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/dosis-v27-latin-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/dosis-v27-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('../assets/fonts/dosis-v27-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/dosis-v27-latin-500.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-600 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/dosis-v27-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/dosis-v27-latin-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/dosis-v27-latin-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/dosis-v27-latin-600.woff')
      format('woff'),
    /* Modern Browsers */ url('../assets/fonts/dosis-v27-latin-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/dosis-v27-latin-600.svg#Dosis') format('svg'); /* Legacy iOS */
}
/* dosis-700 - latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/dosis-v27-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../assets/fonts/dosis-v27-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/dosis-v27-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../assets/fonts/dosis-v27-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('../assets/fonts/dosis-v27-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/dosis-v27-latin-700.svg#Dosis') format('svg'); /* Legacy iOS */
}

html,
body {
  //background-color: map-get($dancier-palette-accent, A200);

  // Free image from pixabay.com christmas-decoration-holiday-xmas-2908901
  //background-image: url("../../assets/img/backgrounds/light-background.jpg");

  scroll-behavior: smooth;

  p {
    font-weight: 350;
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

.font-color-primary-800 {
  color: map-get($dancier-palette-primary, 800);
}

.background-color-50 {
  background-color: map-get($dancier-palette-primary, 50);
}

.background-color-100 {
  background-color: map-get($dancier-palette-primary, 100);
}

.background-color-200 {
  background-color: map-get($dancier-palette-primary, 200);
}

.background-color-300 {
  background-color: map-get($dancier-palette-primary, 300);
}

.background-color-400 {
  background-color: map-get($dancier-palette-primary, 400);
}

.background-color-500 {
  background-color: map-get($dancier-palette-primary, 500);
}

.background-color-600 {
  background-color: map-get($dancier-palette-primary, 600);
}

.background-color-900 {
  background-color: map-get($dancier-palette-primary, 900);
}

.background-color-accent-50 {
  background-color: map-get($dancier-palette-accent, 50);
}

.background-color-accent-A200 {
  background-color: map-get($dancier-palette-accent, A200);
}

.background-color-accent-100 {
  background-color: map-get($dancier-palette-accent, 100);
}

.background-color-accent-400 {
  background-color: map-get($dancier-palette-accent, 400);
}

.background-color-accent-800 {
  background-color: map-get($dancier-palette-accent, 800);
}

.background-color-accent-900 {
  background-color: map-get($dancier-palette-accent, 900);
}

.content-page-container {
  width: min(100vw, 900px);
  background-color: white;

  @include screen('xs') {
  }

  @include screen('gt-xs') {
  }
}

.content-inner-container {
  @include screen('xs') {
    padding: 16px;
  }

  @include screen('gt-xs') {
    margin: 16px 32px 0 32px;
  }
}

.container-radius {
  @include screen('xs') {
    border-radius: 0;
  }

  @include screen('gt-xs') {
    border-radius: 8px;
  }
}

.min-width-360-480 {
  @include screen('gt-xs') {
    min-width: 360px;
  }
  @include screen('gt-sm') {
    min-width: 480px;
  }
}

.button-width-relative {
  @include screen('gt-xs') {
    width: 40%;
  }
  @include screen('xs') {
    width: 90%;
  }
}

.content-page-inner-container-narrow {
  max-width: 480px;
}

.mat-raised-button {
  background-color: #9c0413;
  color: white;
}

/*For general profile editing*/
.profile-edit-page-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-edit-page-inner-container {
  height: 100%;
  background-color: white;
}

.description-section {
  margin-right: 16px;
  padding-right: 16px;
}

.form-section-container {
  margin-bottom: 32px;
}

.space-container {
  height: 32px;
}

.big-button {
  padding: 2px 24px !important;
}
