@import "responsive.scss";

html, body {
  background-color: map-get($dancier-palette-accent, A200);
  // Free image from pixabay.com christmas-decoration-holiday-xmas-2908901
  background-image: url("../assets/img/backgrounds/light-background.jpg");

  p {
    font-weight: 350;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.font-color-primary-800 {
  color: map-get($dancier-palette-primary, 800);
}

.background-color-50 {
  background-color: map-get($dancier-palette-primary, 50);
}

.background-color-100 {
  background-color: map-get($dancier-palette-primary, 100);
}

.background-color-200 {
  background-color: map-get($dancier-palette-primary, 200);
}

.background-color-300 {
  background-color: map-get($dancier-palette-primary, 300);
}

.background-color-400 {
  background-color: map-get($dancier-palette-primary, 400);
}

.background-color-500 {
  background-color: map-get($dancier-palette-primary, 500);
}

.background-color-600 {
  background-color: map-get($dancier-palette-primary, 600);
}

.background-color-900 {
  background-color: map-get($dancier-palette-primary, 900);
}

.background-color-accent-50 {
  background-color: map-get($dancier-palette-accent, 50);
}

.background-color-accent-A200 {
  background-color: map-get($dancier-palette-accent, A200);
}

.background-color-accent-100 {
  background-color: map-get($dancier-palette-accent, 100);
}

.background-color-accent-400 {
  background-color: map-get($dancier-palette-accent, 400);
}

.background-color-accent-800 {
  background-color: map-get($dancier-palette-accent, 800);
}

.background-color-accent-900 {
  background-color: map-get($dancier-palette-accent, 900);
}

.content-page-outer-container {
  display: flex;
  justify-content: center;
}

.content-page-inner-container {
  max-width: 1024px;
  background-color: white;

  @include screen('xs') {
    padding: 16px;
    min-width: 300px;
  }

  @include screen('gt-xs') {
    padding: 45px;
    min-width: 600px;
  }
}

.container-radius {

  @include screen('xs') {
    border-radius: 0;
  }

  @include screen('gt-xs') {
    border-radius: 8px;
  }
}

.min-width-360-480 {
  @include screen('gt-xs') {
    min-width: 360px;
  }
  @include screen('gt-sm') {
    min-width: 480px;
  }
}

.button-width-relative {
  @include screen('gt-xs') {
    width: 40%;
  }
  @include screen('xs') {
     width: 90%;
  }
}

.content-page-inner-container-narrow {
  max-width: 480px;
}

.mat-raised-button {
  background-color: #9c0413;
  color: white;
}

/*For general profile editing*/
.profile-edit-page-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-edit-page-inner-container {
  max-width: 800px;
  padding: 32px;
  background-color: white;
  height: 100%;
}

.description-section {
  margin-right: 16px;
  padding-right: 16px;
}

.form-section-container {
  margin-bottom: 32px;
}

.space-container {
  height: 32px;
}


