@use '@angular/material' as mat;

@import '@angular/material/theming';

// Created by http://mcg.mbitson.com/#!?dancierpalette=%23b40720&themename=mcgtheme
// View the icons: https://fonts.google.com/icons?selected=Material+Icons
$dancier-palette-primary: (
  50: #f6e1e4,
  100: #e9b5bc,
  200: #da8390,
  300: #cb5163,
  400: #bf2c41,
  500: #b40720,
  600: #ad061c,
  700: #a40518,
  800: #9c0413,
  900: #8c020b,
  A100: #ffb8bb,
  A200: #ff8589,
  A400: #ff5258,
  A700: #ff393f,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #f5f5f5,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: rgb(0 0 0 / 90%),
    A400: #000,
    A700: #fff,
  ),
);
$dancier-palette-accent: (
  50: #fef0e300,
  100: rgb(252 217 185 / 32%),
  200: #fabf8b,
  300: #f8a55d,
  400: #f7923a,
  500: #f57f17,
  600: #f47714,
  700: #f26c11,
  800: #f0620d,
  900: #ee4f07,
  A100: #fff,
  A200: #f2f2f2,
  A400: #ffc5b0,
  A700: #ffb296,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);

// see: https://material.angular.io/guide/theming
$theme-primary: mat.define-palette($dancier-palette-primary);
$theme-accent: mat.define-palette($dancier-palette-accent);
$theme-warn: mat.define-palette($dancier-palette-primary);

// Typography
$theme-typography: mat.define-legacy-typography-config(
  $font-family: 'Dosis',
  $input: mat.define-typography-level(18px, 1.35, 400),
  $button: mat.define-typography-level(18px, 1.35, 400),
  $caption: mat.define-typography-level(13px, 1.35, 400),
  $body-1: mat.define-typography-level(18px, 1.35, 400),
  $body-2: mat.define-typography-level(18px, 1.35, 700),
);
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($theme-typography);`
@include mat.all-legacy-component-typographies($theme-typography);
@include mat.legacy-core();

$theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
  )
);

@include mat.all-legacy-component-themes($theme);
