.registration-wrapper {
  height: 100%;
  background-color: #eef;

  .box {
    max-width: 330px;

    .mat-card-header {
      display: block;
      margin: 16px 0 32px;
      font-weight: 700;
      text-align: center;

      mat-card-title {
        margin: 0;
        font-size: 30px;
      }
    }
    .mat-card-content {
      margin: 0;

      .mat-form-field {
        margin-bottom: 6px;
      }
      .acceptTerms,
      .captcha {
        margin-bottom: 16px;
      }
      // workaround to wrap the label of a checkbox, see: https://github.com/angular/components/issues/8416
      .acceptTerms {
        display: flex;
        column-gap: 8px;
      }
    }
  }
}

.full-width {
  width: 100%;
}
