<div class="profile-edit-page-outer-container background-color-accent-A200">
  <div
    class="profile-edit-page-inner-container container-radius"
    fxLayout="column"
  >
    <h2 class="font-color-primary-800">Profilbild hochladen</h2>
    <div
      class="profile-edit-form-container"
      fxLayout.gt-xs="row"
      fxLayout.xs="column"
    >
      <div
        class="description-section"
        ngStyle.gt-sm="max-width: 300px;"
        ngStyle.gt-xs="max-width: 256px;  border-right: 1px solid #8c020b;"
        ngStyle.xs="margin-bottom: 16px"
      >
        <p>Mit Profilbild hast du bessere Chance angesprochen zu werden.</p>
        <p>Profilbild kannst du auch später hochladen.</p>
      </div>
      <div class="form-section-container">
        <div>
          <button (click)="fileInput.click()" color="primary" mat-button>
            <mat-icon>image</mat-icon>
            <span>Wähle ein Bild</span>
          </button>
          <span></span>
          <!-- Hidden input -->
          <input
            #fileInput
            (change)="fileChangeEvent($event)"
            accept="image/*"
            hidden
            type="file"
          />
          <button
            (click)="upload()"
            *ngIf="croppedImage"
            bg="accent"
            mat-button
            raised
          >
            Hochladen
          </button>
        </div>

        <div style="width: 200px; height: 200px">
          <image-cropper
            (imageCropped)="imageCropped($event)"
            [aspectRatio]="4 / 4"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            format="png"
          ></image-cropper>
        </div>

        <!--TODO: Diese Seite muss noch schöner sein. -->
      </div>
    </div>
    <div class="button-row" fxLayout.gt-xs="row" fxLayout.xs="column">
      <button
        class="font-color-primary-800 button-width-relative"
        mat-raised-button
        routerLink="../dances-partner"
      >
        Zurück
      </button>
      <button
        class="font-color-primary-800 button-width-relative"
        mat-raised-button
        routerLink="/profile"
      >
        Weiter
      </button>
    </div>
  </div>
</div>
