<div>
  <button mat-button color="primary" (click)="fileInput.click()">
    <mat-icon>image</mat-icon>
    <span>Wähle ein Bild</span>
  </button>
  <span></span>
  <!-- Hidden input -->
  <input #_fileInput type="file" (change)="fileChangeEvent($event)" accept="image/*" hidden>
  <button (click)="upload()" raised mat-button bg="accent" *ngIf="croppedImage">Hochladen</button>
</div>

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
></image-cropper>

<div>
  <img *ngIf="croppedImage" [src]="croppedImage">
</div>
