<ng-container [formGroup]="form">
  <h1 class="page-header">Tanzerfahrung des Partners</h1>

  <div class="form-info mb-4">
    <p class="mb-2">Welche Erfahrungen soll dein Tanzpartner mitbringen?</p>
    <p>Wir werden dir darauf basierend potentielle Tanzpartner vorschlagen.</p>
  </div>

  <app-dance-experience-form danceFormType="partner" [formGroup]="form">
  </app-dance-experience-form>

  <mat-error *ngIf="apiError">
    <span> {{ apiError | errorMessage }} </span>
  </mat-error>

  <button
    class="big-button btn-next"
    color="primary"
    mat-flat-button
    type="submit"
    (click)="submitForm()"
  >
    Nächster Schritt
  </button>
</ng-container>
