<form novalidate [formGroup]="usernameForm" (ngSubmit)="submitForm()">
  <h1 class="page-header">Willkommen bei Dancier!</h1>
  <p>Wie dürfen wir dich nennen? Gib deinen Benutzernamen unten ein.</p>

  <mat-form-field class="w-full">
    <mat-label>Benutzername</mat-label>
    <input
      data-testid="username-field"
      formControlName="username"
      matInput
      type="username"
    />
    <mat-hint>Wird öffentlich angezeigt.</mat-hint>
    @if (hasUsernameFieldError('required')) {
      <mat-error data-testid="username-field-empty">
        Bitte gib einen Benutzernamen ein.
      </mat-error>
    }
    @if (hasUsernameFieldError('minlength')) {
      <mat-error data-testid="username-field-empty">
        Gib mindestens 3 Zeichen ein.
      </mat-error>
    }
  </mat-form-field>

  <app-alert alertType="warning" icon="warning">
    Dein Benutzername kann später nicht mehr geändert werden.
  </app-alert>

  @if (error) {
    <app-alert alertType="error" icon="error" data-testid="username-error">
      <span> {{ error | errorMessage }} </span>
    </app-alert>
  }

  <button
    class="big-button"
    color="primary"
    mat-flat-button
    type="submit"
    data-testid="submit-button"
  >
    Nächster Schritt
  </button>
</form>
