<ng-container [formGroup]="personalDataForm">
  <mat-form-field>
    <mat-label>Über mich</mat-label>
    <textarea matInput formControlName="aboutMe" maxlength="300"></textarea>
    <mat-hint align="end"
      >{{ personalDataForm.get('aboutMe')?.value?.length }} / 300</mat-hint
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Geschlecht</mat-label>
    <mat-select data-test="gender-field" formControlName="gender">
      @for (gender of genderList; track gender.type) {
        <mat-option [value]="gender.type">
          {{ gender.description }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Geburtsdatum</mat-label>
    <input
      data-test="birthdate-field"
      formControlName="birthDate"
      matInput
      [matDatepicker]="picker"
      [max]="maxDate"
      [min]="minDate"
      [readonly]="true"
      (click)="picker.open()"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="multi-year"></mat-datepicker>
    <mat-hint align="end">Nur dein Alter wird öffentlich angezeigt.</mat-hint>
    @if (hasFieldError('birthDate', 'required')) {
      <mat-error> Bitte gib ein gültiges Geburtsdatum ein. </mat-error>
    }
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Körpergröße</mat-label>
    <input
      data-test="size-field"
      formControlName="size"
      matInput
      type="number"
    />
    <span matTextSuffix>cm</span>
    @if (
      hasFieldError('size', 'required') ||
      hasFieldError('size', 'min') ||
      hasFieldError('size', 'max')
    ) {
      <mat-error align="end">
        Bitte gib eine gültige Körpergröße ein.
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Postleitzahl</mat-label>
    <input
      data-test="zipCode-field"
      formControlName="zipCode"
      matInput
      type="text"
    />
    <mat-hint align="end">Nur dein Wohnort wird öffentlich angezeigt.</mat-hint>
    @if (
      hasFieldError('zipCode', 'required') ||
      hasFieldError('zipCode', 'pattern') ||
      hasFieldError('zipCode', 'cityLookup')
    ) {
      <mat-error> Bitte gib eine gültige Postleitzahl ein. </mat-error>
    }
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Stadt</mat-label>
    <input data-test="city-field" formControlName="city" matInput type="text" />
  </mat-form-field>
</ng-container>
