<form novalidate>
  <mat-card-content fxLayout="column" class="login-form-container">
    <mat-form-field fxFlex appearance="fill" class="full-width">
      <mat-label>E-Mail</mat-label>
      <input
        data-test="email-field"
        matInput
        formControlName="email"
        type="email"
        placeholder="max.mustermann@beispiel.de"
      />
      <mat-error data-test="email-error-empty">
        Bitte geben Sie Ihre E-Mail Adresse an.
      </mat-error>
      <mat-error data-test="email-error-format">
        Bitte geben Sie eine gültige E-Mail Adresse an.
      </mat-error>
    </mat-form-field>
    <!--TODO: add captcha-->
    <button
      data-test="submit-verification"
      mat-raised-button
      class="full-width background-color-500"
    >
      Aktivierungslink senden
    </button>
  </mat-card-content>
</form>
