.header {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 64px;

  .header-left {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
      height: 40px;
    }
  }

  .header-right {
    .nav-items {
      display: flex;
      align-items: center;

      .nav-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 14px;
        column-gap: 4px;

        mat-icon {
          width: 30px;
          height: 30px;
          font-size: 30px;
        }

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }
    }
  }

  .separator {
    align-self: stretch;
    width: 1px;
    background-color: white;
  }
}
