<mat-toolbar class="header" color="primary">
  <div class="header-left">
    <a href="/"
      ><img
        alt="Dancier Logo"
        src="assets/img/dancier-logo-with-text.png"
        style="height: 40px"
    /></a>
  </div>
  <div class="header-right">
    <div class="burger-menu block sm:hidden" data-test="burger-menu-opener">
      <mat-menu #menu="matMenu">
        <div data-test="burger-menu">
          <ng-container
            *ngIf="authStorageService.authData$ | async as authData"
          >
            <button
              *ngIf="!authData.isLoggedIn"
              mat-menu-item
              routerLink="login"
            >
              <mat-icon>login</mat-icon>
              <span>Anmelden</span>
            </button>
            <button
              *ngIf="authData.isLoggedIn"
              mat-menu-item
              routerLink="logout"
            >
              <mat-icon>logout</mat-icon>
              <span>Abmelden</span>
            </button>
            <button
              *ngIf="!authData.isLoggedIn"
              mat-menu-item
              routerLink="registration"
            >
              <mat-icon>note_add</mat-icon>
              <span>Registrieren</span>
            </button>
            <button
              *ngIf="authData.isLoggedIn"
              mat-menu-item
              routerLink="profile"
            >
              <mat-icon>account_box</mat-icon>
              <span>Profil</span>
            </button>
            <button mat-menu-item routerLink="about-us">
              <mat-icon>groups</mat-icon>
              <span>Über Uns</span>
            </button>
            <button mat-menu-item routerLink="contact">
              <mat-icon>message</mat-icon>
              <span>Kontakt</span>
            </button>
            <button mat-menu-item routerLink="chat">
              <mat-icon>chat</mat-icon>
              <span>Chats</span>
            </button>
          </ng-container>
        </div>
      </mat-menu>
      <button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        mat-icon-button
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="nav-items hidden gap-2 sm:flex" data-test="desktop-nav">
      <ng-container *ngIf="authStorageService.authData$ | async as authData">
        <a mat-button routerLink="about-us" routerLinkActive="active"
          ><span>Über Uns</span></a
        >
        <div class="separator"></div>
        <a mat-button routerLink="contact" routerLinkActive="active"
          ><span>Kontakt</span></a
        >
        <div class="separator"></div>
        <a mat-button routerLink="chat" routerLinkActive="active"
          ><span>Chats</span></a
        >
        <div class="separator"></div>
        <a mat-button routerLink="contribute" routerLinkActive="active"
          ><span>Mitmachen</span></a
        >
        <div class="separator"></div>
        <div *ngIf="authData.isLoggedIn" class="nav-icons">
          <a routerLink="profile">
            <mat-icon>account_box</mat-icon>
          </a>
        </div>
        <ng-container *ngIf="!authData.isLoggedIn">
          <a mat-button routerLink="login" routerLinkActive="active">
            Anmelden
          </a>
          <a mat-button routerLink="registration" routerLinkActive="active">
            Registrieren
          </a>
        </ng-container>
        <ng-container *ngIf="authData.isLoggedIn">
          <a mat-button routerLink="logout" routerLinkActive="active">
            Abmelden
          </a>
        </ng-container>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
