<mat-toolbar color="primary" class="app-header">

  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <a href="/" class="title"><span class="mdc-top-app-bar__title">Dancier</span></a>
    </section>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item>
      <mat-icon>note_add</mat-icon>
      <span>Registrieren</span>
    </button>
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <span>Profil</span>
    </button>
    <button mat-menu-item>
      <mat-icon>mail</mat-icon>
      <span>Nachrichten</span>
    </button>
    <button mat-menu-item>
      <mat-icon>groups</mat-icon>
      <span>Über Uns</span>
    </button>
    <button mat-menu-item>
      <mat-icon>contacts</mat-icon>
      <span>Impressum</span>
    </button>
  </mat-menu>
  <span class="nav-tool-items">
    <a mat-button routerLink="home/login" routerLinkActive="active">
      Anmelden
    </a>
    <a mat-button mat-raised-button routerLink="registration" routerLinkActive="active">
      Registrieren
    </a>
  </span>
</mat-toolbar>
