<h1>Baue mit uns Deutschlands neue Tanz-community auf!</h1>
<p>Du möchtest mitmachen, dass freut uns sehr!</p>
<p>Es gibt eine Menge Möglichkeiten wie Du Dich bei uns beteiligen kannst.</p>
<p>Wenn Du Dich für einen der untern aufgeführten Punkte interessiertst, aber meinst nicht genügend Know-How zu haben,
     dann melde Dich trotzdem bei uns. Dancier ist auch nicht zuletzt eine Lernplattform für uns! Wir sind auch ganz freundlich.
    </p>
<ul>
    <li>
        <p>Teste alle Funktionen der Seite und gib uns Feedback!</p>
        <p>Es ist nicht nur wichtig zu wissen, wo wir vielleicht noch einen Fehler/Bug in der Seite haben.
            Das würden wir vermutlich auch selber rausfinden. Wichtiger ist es uns, wenn Du uns auf
            Funktionen hinweißt, welche Du vermisst oder welche für Dich Unverständlich sind...
        </p>
    </li>
    <li>
        <p>Mach für uns Werbung!</p>
        <p>
            Sprich über Dancier in Deiner Tanzschule, verteile Flyer, Aufkleber oder ähnliches.
            Oder schreib einen Blog/Podcast oder ähnliches!
        </p>
    </li>
    <li>
        <p>Untersütze und beim (Web)design/Frontend</p>
        <p>Du kannst gut malen/zeichen/illustrieren? Bist fit in Frontend-Technologien (HTML, CSS, Angular,...)?
             Dann kannst Du hier, in einem netten kleinen Team mithelfen eine freundliche aktive Tanz-community mit zugestalten.</p>
    </li>
    <li>
        <p>Du kennst Dich aus mit Data Science und/oder Backend-Entwicklung?</p>
        <p>Du möchtest mitmachen bei Entwicklen vom Recommendation-Algorithmus
            der für jeden Tänzer für ihn passende PartnerInnen, Schulen, Kurse, Workshops u.ä. berechnet? Komm zu uns. Auch wenn Du Dich mit
            den Themen noch nicht auskennst. Dancier ist für uns alle eine Plattform auf der wir alles mögliche Lernen könnne.
        </p>
    </li>
    <li>
        <p>
            Es gibt irgendwas anderes, bei dem Du denkst uns untersützen zu können? Nimm auch dann Kontakt zu uns auf.
        </p>
    </li>
</ul>
<p>
    So jetzt musst du uns nur noch Deine E-Mail-Adresse geben und wir melden uns bei Dir und bauen mit Dir Deutschlands
    neue freundliche Tanz-community.
</p>

<app-beta-signup-form [signupType]="'contributor'"></app-beta-signup-form>
