<app-beta-signup-banner></app-beta-signup-banner>
<div class="space-container"></div>
<div class="content-inner-container">
  <h1>Baue mit uns Deutschlands neue Tanz-Community auf!</h1>
  <p>Du möchtest mitmachen? Das freut uns sehr!</p>
  <p>Es gibt eine Menge Möglichkeiten wie du dich bei uns beteiligen kannst.</p>
  <p>Dabei spielt es auch keine Rolle, ob du schon das nötige Know-How mitbringst oder erst erlernen möchtest. In beiden Fällen freuen wir uns über deine Beteiligung.
    Dancier ist auch nicht zuletzt eine Lernplattform für alle Mitwirkenden! Wir sind auch ganz freundlich.
  </p>
  <ul>
    <li>
      <p>Teste alle Funktionen der Seite und gib uns Feedback!</p>
      <p>Es ist nicht nur wichtig zu wissen, wo wir vielleicht noch einen Fehler/Bug in der Seite haben.
        Das würden wir vermutlich auch selber rausfinden. Wichtiger ist es, wenn du uns auf
        Funktionen hinweißt, welche du vermisst oder welche für dich Unverständlich sind...
      </p>
    </li>
    <li>
      <p>Mach für uns Werbung!</p>
      <p>
        Sprich über Dancier in deiner Tanzschule, verteile Flyer, Aufkleber oder ähnliches.
        Oder schreib einen Blog/Podcast, was immer du möchtest!
      </p>
    </li>
    <li>
      <p>Unterstütze uns beim (Web)design/Frontend</p>
      <p>Du kannst gut malen/zeichen/illustrieren? Bist fit in Frontend-Technologien (HTML, CSS, Angular,...)?
        Dann kannst du hier in einem netten kleinen Team mithelfen eine freundliche aktive Tanz-Community zugestalten.</p>
    </li>
    <li>
      <p>Du kennst dich aus mit Data Science und/oder Backend-Entwicklung?</p>
      <p>Du möchtest uns helfen beim Entwickeln eines Recommendation-Algorithmus,
        der zuverlässig passende TanzpartnerInnen, Schulen, Kurse, Workshops u.ä. berechnet? Dann komm zu uns.
        Auch wenn du dich in den Bereichen noch nicht auskennst. Dancier ist nicht zuletzt eine Plattform auf der wir neue Technologien lernen können.
      </p>
    </li>
    <li>
      <p>
        Du hast weitere Ideen, die hier noch nicht aufgeführt sind? Nimm auch dann Kontakt zu uns auf.
      </p>
    </li>
  </ul>
  <p>
    So, jetzt musst du uns nur noch deine E-Mail-Adresse geben und wir melden uns bei dir und bauen mit dir Deutschlands
    neue freundliche Tanz-Community.
  </p>

  <app-beta-signup-form [signupType]="'contributor'"></app-beta-signup-form>
  <div class="space-container"></div>
</div>

