<div
  class="dance-experience-entry"
  *ngFor="let danceGroup of danceExperiences.controls; let i = index"
>
  <app-dance-experience-entry
    [formGroup]="danceGroup"
  ></app-dance-experience-entry>
  <div class="remove-button-container">
    <button
      (click)="removeDance(i)"
      *ngIf="danceExperiences.length > 1"
      class="font-color-primary-800 remove-button"
      mat-stroked-button
    >
      <mat-icon>remove</mat-icon>
    </button>
  </div>
</div>

<div class="add-button-container">
  <button
    (click)="addDance()"
    class="font-color-primary-800 remove-button"
    mat-stroked-button
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
