<form (ngSubmit)="submitForm()" [formGroup]="personalDataForm" novalidate>
  <div class="profile-edit-page-outer-container background-color-accent-A200">
    <div
      class="profile-edit-page-inner-container container-radius"
      fxLayout="column"
    >
      <h2 class="font-color-primary-800">Persönliche Daten</h2>
      <div
        class="profile-edit-form-container"
        fxLayout.gt-xs="row"
        fxLayout.xs="column"
      >
        <div
          class="description-section"
          ngStyle.gt-sm="max-width: 300px;"
          ngStyle.gt-xs="max-width: 256px;  border-right: 1px solid #8c020b;"
          ngStyle.xs="margin-bottom: 16px"
        >
          <p>
            Damit passende Tanzpartner automatisch zu dir empfohlen werden,
            werden noch einige Daten benötigt.
          </p>
          <p>Im Moment unterstützen wir nur Benutzer aus Deutschland.</p>
        </div>
        <div class="form-section-container">
          <mat-card-content class="card-content-container" fxLayout="column">
            <div
              [ngStyle]="{'margin-bottom': hasFocus('GENDER') ? '16px' : '0' }"
              class="form-section"
              fxLayout="row"
            >
              <mat-icon class="form-icon">transgender</mat-icon>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Geschlecht:</mat-label>
                <mat-hint *ngIf="hasFocus('GENDER')"
                  >Wird angezeigt auf deinem Profil, und für die Empfehlung
                  wichtig.
                </mat-hint>
                <mat-select
                  (blur)="unsetFocus('GENDER')"
                  (focus)="setFocus('GENDER')"
                  data-test="gender-field"
                  formControlName="gender"
                >
                  <mat-option
                    *ngFor="let gender of genderList"
                    [value]="gender.type"
                  >
                    {{gender.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div
              [ngStyle]="{'margin-bottom': hasFocus('BIRTHDAY') ? '16px' : '0' }"
              class="form-section"
              fxLayout="row"
            >
              <mat-icon class="form-icon">cake</mat-icon>
              <mat-form-field appearance="fill" class="width-201">
                <mat-label>Geburtsdatum:</mat-label>
                <input
                  (blur)="unsetFocus('BIRTHDAY')"
                  (click)="picker.open()"
                  (focus)="setFocus('BIRTHDAY')"
                  [matDatepicker]="picker"
                  [max]="maxDate"
                  [min]="minDate"
                  [readonly]="true"
                  data-test="birthdate-field"
                  formControlName="birthDate"
                  matInput
                />
                <mat-hint *ngIf="hasFocus('BIRTHDAY')"
                  >Später wird das Alter auf deinem Profil angezeigt, und das
                  Alter wird auch für die Empfehlung angewendet.
                </mat-hint>
                <mat-datepicker-toggle
                  [for]="picker"
                  matSuffix
                ></mat-datepicker-toggle>
                <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                <mat-error
                  *ngIf="personalDataForm.get('birthDate')?.hasError('required')"
                >
                  Bitte gib ein gültiges Geburtsdatum ein.
                </mat-error>
              </mat-form-field>
            </div>
            <div
              [ngStyle]="{'margin-bottom': hasFocus('HEIGHT') ? '16px' : '0' }"
              class="form-section"
              fxLayout="row"
            >
              <mat-icon class="form-icon">accessibility</mat-icon>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Körpergröße:</mat-label>
                <input
                  (blur)="unsetFocus('HEIGHT')"
                  (focus)="setFocus('HEIGHT')"
                  data-test="size-field"
                  formControlName="size"
                  matInput
                  placeholder="(Deine Körpergröße in CM)"
                  type="number"
                />
                <span matSuffix>cm</span>
                <mat-hint *ngIf="hasFocus('HEIGHT')"
                  >Wird angezeigt auf deinem Profil, und für die Empfehlung
                  wichtig.
                </mat-hint>
              </mat-form-field>
            </div>
            <div
              [ngStyle]="{'margin-bottom': hasFocus('ZIP') ? '16px' : '0' }"
              class="form-section"
              fxLayout="row"
            >
              <mat-icon class="form-icon">place</mat-icon>
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>PLZ:</mat-label>
                <input
                  (blur)="unsetFocus('ZIP')"
                  (focus)="setFocus('ZIP')"
                  data-test="zipCode-field"
                  formControlName="zipCode"
                  matInput
                  placeholder="(PLZ)"
                  type="text"
                />
                <mat-hint *ngIf="hasFocus('ZIP')"
                  >Auf deinem Profil wird der Ort angezeigt. PLZ ist auch für
                  die Empfehlung des Tanzpartners wichtig.
                </mat-hint>
              </mat-form-field>
            </div>

            <div class="form-section" fxLayout="row">
              <div class="city-land-container" fxLayout="row">
                <mat-icon class="form-icon">location_city</mat-icon>
                <div>
                  <label>Stadt: </label>
                  <span
                    >{{personalDataForm.value.city || '(wird ermittelt)'}}</span
                  >
                </div>
              </div>
              <div class="city-land-container" fxLayout="row">
                <mat-icon class="form-icon">map</mat-icon>
                <div>
                  <label>Land: </label>
                  <span>Deutschland</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </div>
      </div>
      <mat-error *ngIf="error">
        <span> {{error | errorMessage}} </span>
      </mat-error>
      <button
        class="font-color-primary-800 continue-button"
        mat-raised-button
        type="submit"
      >
        Weiter
      </button>
    </div>
  </div>
</form>
