.mat-form-field-wrapper {
  padding: 0;
}

.continue-button {
  width: 100%;
}

.form-icon {
  color: #ad061c;
  margin: 16px 16px 0;
}

.form-text {
  color: #66666b;
}

.description-section {
  margin-bottom: 32px;
}

.city-land-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;

  label {
    color: #00000099;
    margin-right: 8px;
  }

  .form-icon {
    margin-top: 0;
  }
}

.width-201 {
  width: 201px;
}
