<div class="profile-edit-page-outer-container background-color-accent-A200">
  <div class="profile-edit-page-inner-container container-radius" fxLayout="column">
    <h2 class="font-color-primary-800">Persönliche Daten </h2>
    <div class="profile-edit-form-container" fxLayout.gt-xs="row" fxLayout.xs="column">
      <div class="description-section"
           ngStyle.xs="margin-bottom: 16px"
           ngStyle.gt-xs="max-width: 256px;  border-right: 1px solid #8c020b;"
           ngStyle.gt-sm="max-width: 300px;">
        <p>
          Damit passende Tanzpartner automatisch zu dir empfohlen werden, werden noch einige Daten benötigt.
        </p>

        <p>
          Im Moment unterstützen wir nur Benutzer aus Deutschland.
        </p>
      </div>
      <div class="form-section-container">
        <mat-card-content fxLayout="column" class="card-content-container">
          <div class="form-section" fxLayout="row" [ngStyle]="{'margin-bottom': isGenderFieldOnFocus ? '16px' : '0' }">
            <mat-icon class="form-icon">transgender</mat-icon>
            <!--TODO: Change into dropdown or radio button-->
            <mat-form-field appearance="fill" class="full-width min-width-360-480">
              <mat-label>Geschlecht: *</mat-label>
              <mat-hint *ngIf="isGenderFieldOnFocus">Wird angezeigt auf deinem Profil, und für die Empfehlung wichtig.
              </mat-hint>
              <input matInput type="gender" (focus)='genderFieldOnFocus()' (blur)='genderFieldOnBlur()'/>
            </mat-form-field>
          </div>
          <div class="form-section" fxLayout="row"
               [ngStyle]="{'margin-bottom': isBirthdayFieldOnFocus ? '16px' : '0' }">
            <mat-icon class="form-icon">cake</mat-icon>
            <mat-form-field appearance="fill" class="full-width">
              <!--TODO:  Add datepicker -->
              <mat-label>Geburtsdatum: *</mat-label>
              <mat-hint *ngIf="isBirthdayFieldOnFocus">Später wird das Alter auf deinem Profil angezeigt, und das Alter
                wird auch für die Empfehlung
                angewendet.
              </mat-hint>
              <input matInput type="birthday" (focus)='birthdayFieldOnFocus()' (blur)='birthdayFieldOnBlur()'/>
            </mat-form-field>
          </div>
          <div class="form-section" fxLayout="row" [ngStyle]="{'margin-bottom': isHeightFieldOnFocus ? '16px' : '0' }">
            <mat-icon class="form-icon">accessibility</mat-icon>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Körpergröße: *</mat-label>
              <input matInput type="height" placeholder="(Deine Körpergröße in CM)" (focus)='heightFiledOnFocus()'
                     (blur)='heightFieldOnBlur()'/>
              <span>cm</span>
              <mat-hint *ngIf="isHeightFieldOnFocus">Wird angezeigt auf deinem Profil, und für die Empfehlung wichtig.
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form-section" fxLayout="row" [ngStyle]="{'margin-bottom': isZipFieldOnFocus ? '16px' : '0' }">
            <mat-icon class="form-icon">place</mat-icon>
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>PLZ: *</mat-label>
              <input matInput type="zip" placeholder="(PLZ)" (focus)='zipFieldOnFocus()' (blur)='zipFieldOnBlur()'/>
              <mat-hint *ngIf="isZipFieldOnFocus">Auf deinem Profil wird der Ort angezeigt. PLZ ist auch für die
                Empfehlung des Tanzpartners wichtig.
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="form-section" fxLayout="row">
            <div fxLayout="row" class="city-land-container">
              <mat-icon class="form-icon">location_city</mat-icon>
              <div>
                <label>Stadt: </label>
                <span>(wird ermittelt)</span>
              </div>
            </div>
            <div fxLayout="row" class="city-land-container">
              <mat-icon class="form-icon">map</mat-icon>
              <div>
                <label>Land: </label>
                <span>Deutschland</span>
              </div>
            </div>
          </div>
        </mat-card-content>
      </div>
    </div>
    <button mat-raised-button class="font-color-primary-800 continue-button" routerLink="/add-my-dance-types">Weiter
    </button>
  </div>
</div>
