.dance-type-container {
  border: 1px solid #9c0413;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px;
  background-color: #f2f2f2;

  .icon {
    display: inline-block;
    margin: 24px;
  }

  .icon-display {
    transform: scale(3);
    color: darkgrey;
  }

  .description-container {
    display: inline-block;
    margin-left: 16px;
  }

  label {
    font-weight: bold;
  }
  span {
    display: inline-block;
  }
}
