<app-beta-signup-banner></app-beta-signup-banner>
<div class="content-inner-container">
  <h1>Kontaktiere uns</h1>

  <p>Du kannst das untenstehende Textfeld nutzen, um uns Wünsche, Anregungen, Fragen und mehr zukommen zu lassen.</p>

  <p>Wir freuen uns auf deine Nachricht.</p>

  <form [formGroup]="contactForm" (ngSubmit)="submitForm()" novalidate>
    <mat-card-content fxLayout="column" class="card-content-container">
      <ng-container *ngIf="authStorageService.authData$ | async as authData">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>E-Mail</mat-label>
          <input matInput formControlName="email" type="email" placeholder="(Deine Mail-Adresse)"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Schreibe uns deine Nachricht</mat-label>
          <textarea rows="10" matInput formControlName="message"></textarea>
        </mat-form-field>

        <ng-container *ngIf="!authData.isHuman">
          <div class="captcha">
            <re-captcha (resolved)="captchaResolved($event)"
                        siteKey="6LetqBAgAAAAAJXA5K_U88bsxKtyp_vld6J0x-Nv"></re-captcha>
          </div>
          <mat-error *ngIf="(humanSessionResponse && humanSessionResponse !== 'SUCCESS') || (contactResponse && contactResponse !== 'SUCCESS')">
                <span>
                  Ein unerwarteter Fehler ist aufgetreten.
                  Bitte versuche es später erneut.
                </span>
          </mat-error>
        </ng-container>

        <button mat-raised-button class="font-color-primary-800"
                [disabled]="!contactForm.valid || !authData.isHuman">Nachricht senden
        </button>
      </ng-container>
    </mat-card-content>
  </form>
</div>
