<div data-test="page-contact">
  <ng-container
    *ngIf="!contactResponse || !contactResponse.isSuccess; else success"
  >
    <h1 class="page-header">Kontaktiere uns</h1>
    <p class="mb-2">
      Du kannst das untenstehende Textfeld nutzen, um uns Wünsche, Anregungen,
      Fragen und mehr zukommen zu lassen.
    </p>
    <p class="mb-2">Wir freuen uns auf deine Nachricht.</p>

    <form (ngSubmit)="submitForm()" [formGroup]="contactForm" novalidate>
      <mat-card-content class="card-content-container flex flex-col">
        <ng-container *ngIf="authStorageService.authData$ | async as authData">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>E-Mail</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="(Deine Mail-Adresse)"
              type="email"
            />
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Schreibe uns deine Nachricht</mat-label>
            <textarea formControlName="message" matInput rows="10"></textarea>
          </mat-form-field>

          <ng-container *ngIf="!authData.isHuman || isCaptchaSolved">
            <div class="captcha">
              <re-captcha
                (resolved)="captchaResolved($event)"
                siteKey="6LetqBAgAAAAAJXA5K_U88bsxKtyp_vld6J0x-Nv"
              ></re-captcha>
            </div>
          </ng-container>
          <mat-error *ngIf="captchaError">
            Es ist ein Fehler aufgetreten, bitte versuche es später erneut.
          </mat-error>
          <mat-error *ngIf="contactResponse && !contactResponse.isSuccess">
            <span>
              {{ contactResponse.error | errorMessage }}
            </span>
          </mat-error>

          <button
            [disabled]="!contactForm.valid || !authData.isHuman"
            color="primary"
            mat-raised-button
          >
            Nachricht senden
          </button>
        </ng-container>
      </mat-card-content>
    </form>
  </ng-container>

  <ng-template #success>
    <h1 class="page-header">Vielen Dank!</h1>
    <p>
      Wir haben deine Nachricht erhalten und werden uns schnellstmöglich bei dir
      melden.
    </p>
  </ng-template>
</div>
