.profile-edit-page-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-edit-page-inner-container {
  max-width: 800px;
  padding: 32px;
  background-color: white;
}

.profile-edit-form-container {
  h3 {
    margin-top: 32px;
  }

  label {
    display: block;
    margin-bottom: 16px;
  }

  button {
    margin-top: 32px;
  }
}
