<div class="dance-type-container"
     ngStyle.xs="margin-top: 12px;"
     ngStyle.gt-xs="margin-top: 24px; margin-bottom: 24px">
  <div class="icon">
    <mat-icon class="icon-display">self_improvement</mat-icon>
  </div>
  <div class="description-container">
    <div class="dance-description">
      <label>Tanzart: </label>
      <span>{{danceTypeName}}</span>
    </div>
    <div class="dance-description">
      <label>DanceLevel: </label>
      <span>{{danceLevel}}</span>
    </div>
    <div class="dance-description">
      <label>Rolle: </label>
      <span>{{role}}</span>
    </div>
  </div>
</div>
