<ng-container [formGroup]="danceForm">
  <mat-form-field floatLabel="always">
    <mat-label>Tanz</mat-label>
    <input
      class="dance-type-input"
      formControlName="dance"
      matInput
      type="text"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let danceType of filteredDanceTypeAutocompletions$ | async"
        [value]="danceType"
      >
        {{ danceType }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="hasFieldError('dance', 'required')">
      Bitte wähle eine Tanzart aus.
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label class="dance-level-label">Erfahrung</mat-label>
    <mat-select formControlName="level">
      <mat-option
        *ngFor="let danceLevel of danceLevels | keyvalue : originalOrder"
        [value]="danceLevel.key"
      >
        {{ danceLevel.value }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="hasFieldError('level', 'required')">
      Bitte wähle deine Erfahrung aus.
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Rolle</mat-label>

    <mat-select formControlName="leading">
      <mat-option
        *ngFor="let danceRole of danceRoles | keyvalue : originalOrder"
        [value]="danceRole.key"
      >
        {{ danceRole.value }}
      </mat-option>
    </mat-select>
    <!-- eslint-disable-next-line @angular-eslint/template/cyclomatic-complexity -->
    <mat-error *ngIf="hasFieldError('leading', 'required')">
      Bitte wähle eine Rolle aus.
    </mat-error>
  </mat-form-field>
</ng-container>
