<ng-container [formGroup]="danceForm">
  <mat-form-field floatLabel="always">
    <mat-label>Tanz</mat-label>
    <input
      class="dance-type-input"
      formControlName="dance"
      matInput
      type="text"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (
        danceType of filteredDanceTypeAutocompletions$ | async;
        track danceType
      ) {
        <mat-option [value]="danceType">
          {{ danceType }}
        </mat-option>
      }
    </mat-autocomplete>
    @if (hasFieldError('dance', 'required')) {
      <mat-error> Bitte wähle eine Tanzart aus. </mat-error>
    }
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label class="dance-level-label">Erfahrung</mat-label>
    <mat-select formControlName="level">
      @for (
        danceLevel of danceLevels | keyvalue: originalOrder;
        track danceLevel.key
      ) {
        <mat-option [value]="danceLevel.key">
          {{ danceLevel.value }}
        </mat-option>
      }
    </mat-select>
    @if (hasFieldError('level', 'required')) {
      <mat-error> Bitte wähle deine Erfahrung aus. </mat-error>
    }
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Rolle</mat-label>

    <mat-select formControlName="leading">
      @for (
        danceRole of danceRoles | keyvalue: originalOrder;
        track danceRole.key
      ) {
        <mat-option [value]="danceRole.key">
          {{ danceRole.value }}
        </mat-option>
      }
    </mat-select>
    @if (hasFieldError('leading', 'required')) {
      <mat-error> Bitte wähle eine Rolle aus. </mat-error>
    }
  </mat-form-field>
</ng-container>
