<!--<div class="m-10">-->
<!--  <app-chat-message></app-chat-message>-->
<!--</div>-->

<!--<p>Hier kommt der Message Composer hin.</p>-->

<form class="flex px-6 py-4" [formGroup]="form" (ngSubmit)="postMessage()">
  <mat-form-field appearance="outline" class="w-full">
    <input
      matInput
      placeholder="Schreib eine Nachricht"
      formControlName="message"
    />
    <button matSuffix mat-icon-button type="submit">
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
</form>
