.registration-wrapper {
  height: 100%;
  background-color: #eef;

  .box {
    max-width: 330px;

    .mat-mdc-card-header {
      display: block;
      margin: 16px 0 32px;
      font-weight: 700;
      text-align: center;

      /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
      mat-card-title {
        margin: 0;
        font-size: 30px;
      }
    }

    .mat-mdc-card-content {
      margin: 0;

      .mat-mdc-form-field {
        margin-bottom: 6px;
      }

      .accept-terms,
      .captcha {
        margin-bottom: 16px;
      }

      // workaround to wrap the label of a checkbox, see: https://github.com/angular/components/issues/8416
      .accept-terms {
        display: flex;
        column-gap: 8px;
      }
    }
  }
}

.full-width {
  width: 100%;
}
