<div
  *ngIf="profileService.getProfile() as profile"
  class="profile-page-outer-container background-color-900"
>
  <div
    [style.background-image]="'url(' + environmentService.getApiUrl() + '/images/' + profile.profileImageHash + '.png)'"
    class="profile-title-container"
    ngStyle.gt-xs="border-radius: 16px"
  >
    <div class="profile-name-container">
      <h1>{{profileService.profile.dancerName}}</h1>
      <span class="age">{{profileService.profile.birthDate | age}}</span>
      <span class="dance-key-words">Tango, Standard</span>
    </div>
  </div>
  <mat-tab-group class="dance-details" mat-align-tabs="center">
    <mat-tab label="Ich tanze">
      <div class="dance-types-container" fxLayout.xs="column">
        <app-dance-type
          *ngFor="let preference of profileService.profile.ableTo"
          [danceLevel]="(preference.level!)"
          [danceTypeName]="(preference.dance!)"
          [role]="(preference.leading!)"
        ></app-dance-type>
      </div>
    </mat-tab>
    <mat-tab label="Ich suche">
      <div class="dance-types-container" fxLayout.xs="column">
        <app-dance-type
          *ngFor="let preference of profileService.profile.wantsTo"
          [danceLevel]="(preference.level!)"
          [danceTypeName]="(preference.dance!)"
          [role]="(preference.leading!)"
        ></app-dance-type>
      </div>
    </mat-tab>
    <mat-tab label="Persönliche Daten">
      <app-personal-data
        [profile]="profileService.profile"
        class="personal-data-container"
      >
      </app-personal-data>
    </mat-tab>
  </mat-tab-group>
</div>
