<div *ngIf="profileService.profile$ | async as profile" class="profile">
  <div class="profile-header">
    <div class="profile-image">
      <img
        [src]="environmentService.getApiUrl() + '/images/' + profile.profileImageHash + '/150.png'"
        alt="Profile Image"
      />
    </div>
    <div class="profile-info">
      <h1 class="profile-name">
        {{profile.dancerName}}, {{profile.birthDate | age}}
      </h1>
      <div class="profile-location">
        <!--  TODO: Location Icon -->
        Dortmund
      </div>
      <div class="profile-header-info">
        <div>{{profile.gender | displayGender}}</div>
        <div>•</div>
        <div>{{profile.size}}cm groß</div>
      </div>
    </div>
  </div>

  <h2>Tanzerfahrung</h2>
  <div class="dance-experience">
    <div
      *ngFor="let danceExperience of profile.ableTo"
      class="dance-experience-item"
    >
      <div class="dance-title">{{danceExperience.dance}}</div>
      <div class="dance-info">
        {{danceExperience.level | displayDanceLevel}}, {{danceExperience.leading
        | displayDanceRole}}
      </div>
    </div>
  </div>

  <button
    (click)="editProfile()"
    class="big-button"
    color="primary"
    mat-flat-button
  >
    Profil bearbeiten
  </button>
</div>
