.footer-container {
  padding: 18px;
  font-size: 0.8em;
  font-weight: 200;
  color: white;

  h2 {
    font-weight: 200;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
