<div
  class="footer-container background-color-500"
  fxLayout.xs="column"
  fxLayout="row"
>
  <div class="footer-column" fxFlex>
    <h2>Über Dancier</h2>
    <ul>
      <li>Mitmachen</li>
      <li>
        <a href="https://github.com/dancier/dancer" target="_blank"
          >Code Source auf Github</a
        >
      </li>
      <li>
        <a href="https://project.dancier.net/" target="_blank"
          >Über unser Open Source Projekt</a
        >
      </li>
      <li><a routerLink="/terms-and-conditions">AGB</a></li>
      <li><a routerLink="/about-us">Über Uns</a></li>
      <li>Impressum</li>
      <li>Cookies</li>
    </ul>
  </div>

  <div class="footer-column" fxFlex>
    <h2>Für Tanzer</h2>
    <ul>
      <li>Kontakt</li>
      <li>FAQ</li>
    </ul>
  </div>

  <div class="footer-column" fxFlex>
    <h2>Für Tanzschulen</h2>
    <ul>
      <li>Kontakt</li>
      <li>FAQ</li>
    </ul>
  </div>
</div>
