<div class="content-page-outer-container">
  <div class="content-page-inner-container">
    <h2>Über Uns</h2>
    <div class="developers-container">
      <div class="team-member-section">
        <div class="image-cropper">
          <img src="assets/img/about-us/marc-profile.jpg" class="rounded" />
        </div>
        <h3>Marc Gorzala</h3>
        <p>Also, ich tanze seit ca 7 Jahren Tango. Wie ich sagen würde, recht leidenschaftlich. Am Anfang hat 
          mir eine Seite, ich glaue sie hieß tanz-mit-mir.net recht geholfen Tanzpartnerinnen zu finden. Sie war 
          funktional ein wenig eigenwillig, vom Design sagen wir mal ein wenig Retro aber sie war kostenlos und 
          hatte sehr aktive Nutzer.
          </p>
          <p>
            Irgendwann ist diese Seite offline gegangen. Ich würde wetten das dies im Zusammenhang mit einer 
            zum selben Zeit in Kraft getretenen Europäischem Datenschutz Gesetzbung steht ;-)
            Alternative Angebote schien es nicht zu geben. Meist waren diese sowohl nicht wirklich kostenlos und/oder war 
            die Anzahl der Nutzer nicht hoch genug. ;-(
          </p>
          <p>
            Da ich und meine Frau beide Informatiker sind, dachte ich das wir es doch hinbekommen sollten eine 
            vernünftige Alternative auf die Beine zu stellen.
            Eine die so kostenlos und aktiv wie die nicht mehr existierende war.
            Zeitgemäßer in den angeboten Fuktionen und dazu noch direkt in Zusamenarbeit mit anderen Tänzern entsteht.
          </p>
          <p>
            Und Dancier soll und wird genau das sein! Möglichst viele Tanzende zusammenzubringen und damit die Welt ein wenig netter machen.
          </p>
          <p>
            Ansonsten, bin ich Papa von zwei tollen Söhnen, gehe ab und an mal klettern, schwimme regelmäsig im Kanal und genieße das Leben.
          </p>
      </div>
      <div class="team-member-section">
        <div class="image-cropper">
          <img src="assets/img/about-us/xiaofei-profile.jpg" class="rounded" />
        </div>
        <h3>Domink Halfkan</h3>
        <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat risus diam, in euismod mi tincidunt vel.
          Praesent sed sagittis augue, et blandit nibh. Donec vitae purus massa. Phasellus quis lacus eu ex sagittis
          fringilla nec commodo est. Pellentesque rhoncus eros arcu, id vehicula sem tempus sit amet. Nunc tempor
          elementum diam condimentum varius. Fusce non nisi diam. Nulla varius orci a sem iaculis, quis molestie odio
          pellentesque. Integer accumsan urna erat, eu ultricies lacus fringilla sed. Aliquam commodo molestie lorem nec
          pellentesque. Mauris eleifend, dui eu dapibus congue, ipsum turpis ultrices tortor, sed vehicula sapien lorem
          nec mi. Curabitur pretium erat augue, ac fermentum lorem dignissim eu. Interdum et malesuada fames ac ante ipsum
          primis in faucibus. In lacinia lorem ac ultrices pretium. Donec bibendum, ipsum ut facilisis iaculis, lacus
          ipsum luctus odio, venenatis dictum tortor nisi eu nulla. Nunc ut semper ipsum.</p>
      </div>

      <div class="team-member-section">
        <div class="image-cropper">
          <img src="assets/img/about-us/xiaofei-profile.jpg" class="rounded" />
        </div>
        <h3>Xiaofei Shi</h3>
        <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat risus diam, in euismod mi tincidunt vel.
          Praesent sed sagittis augue, et blandit nibh. Donec vitae purus massa. Phasellus quis lacus eu ex sagittis
          fringilla nec commodo est. Pellentesque rhoncus eros arcu, id vehicula sem tempus sit amet. Nunc tempor
          elementum diam condimentum varius. Fusce non nisi diam. Nulla varius orci a sem iaculis, quis molestie odio
          pellentesque. Integer accumsan urna erat, eu ultricies lacus fringilla sed. Aliquam commodo molestie lorem nec
          pellentesque. Mauris eleifend, dui eu dapibus congue, ipsum turpis ultrices tortor, sed vehicula sapien lorem
          nec mi. Curabitur pretium erat augue, ac fermentum lorem dignissim eu. Interdum et malesuada fames ac ante ipsum
          primis in faucibus. In lacinia lorem ac ultrices pretium. Donec bibendum, ipsum ut facilisis iaculis, lacus
          ipsum luctus odio, venenatis dictum tortor nisi eu nulla. Nunc ut semper ipsum.</p>
      </div>

      <div class="team-member-section">
        <div class="image-cropper">
          <img src="assets/img/about-us/xiaofei-profile.jpg" class="rounded" />
        </div>
        <h3>Jan Stroppel</h3>
        <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat risus diam, in euismod mi tincidunt vel.
          Praesent sed sagittis augue, et blandit nibh. Donec vitae purus massa. Phasellus quis lacus eu ex sagittis
          fringilla nec commodo est. Pellentesque rhoncus eros arcu, id vehicula sem tempus sit amet. Nunc tempor
          elementum diam condimentum varius. Fusce non nisi diam. Nulla varius orci a sem iaculis, quis molestie odio
          pellentesque. Integer accumsan urna erat, eu ultricies lacus fringilla sed. Aliquam commodo molestie lorem nec
          pellentesque. Mauris eleifend, dui eu dapibus congue, ipsum turpis ultrices tortor, sed vehicula sapien lorem
          nec mi. Curabitur pretium erat augue, ac fermentum lorem dignissim eu. Interdum et malesuada fames ac ante ipsum
          primis in faucibus. In lacinia lorem ac ultrices pretium. Donec bibendum, ipsum ut facilisis iaculis, lacus
          ipsum luctus odio, venenatis dictum tortor nisi eu nulla. Nunc ut semper ipsum.</p>
      </div>
    </div>

  </div>
</div>
