.image-cropper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

img {
  display: inline;
  margin: 0 auto;
  width: auto;
  height: 100%;
}

.developers-container {
  display: flex;
  flex-wrap: wrap;
}

.developers-container > * {
  flex: 1 1 320px;
  margin: 16px;
}
