<div class="select-option" [class.selected]="type === 'participant'" (click)="onTypeSelect('participant')">
  <h3>Schreib mich an, wenn ihr startet!</h3>
  <p>Wir schreiben Dich einmal an, wenn wir mit der Plattform starten und machen sonst nix mit Deiner Adresse.</p>
</div>
<div class="select-option" (click)="onTypeSelect('contributor')">
  <h3>Ich will mitmachen!</h3>
  <p>
    Du willst bei uns mitmachen? Super, wir freuen uns auf deine Unterstützung!
    Du hast viele Möglichkeiten mitzuwirken.
  </p>
</div>
