<div class="new-password-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card appearance="outlined" class="box">
    <mat-card-header>
      <mat-card-title data-test="title">Passwort festlegen</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="submitForm()" [formGroup]="newPasswordForm" novalidate>
      <mat-card-content>
        <p>Gib dein neues Passwort ein.</p>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Passwort</mat-label>
          <input
            data-test="password-field"
            formControlName="password"
            matInput
            type="password"
          />
          <mat-error
            *ngIf="errorHandling('password', 'required')"
            data-test="password-field-empty"
          >
            Bitte gib ein Passwort ein.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Passwort wiederholen</mat-label>
          <input
            data-test="password-confirm-field"
            formControlName="passwordConfirm"
            matInput
            type="password"
          />
          <mat-error
            *ngIf="errorHandling('passwordConfirm', 'required')"
            data-test="password-confirm-field-empty"
          >
            Bitte bestätige das Passwort.
          </mat-error>
          <mat-error
            *ngIf="errorHandling('passwordConfirm', 'matching')"
            data-test="password-confirm-field-no-match"
          >
            Die eingegebenen Passwörter stimmen nicht überein.
          </mat-error>
        </mat-form-field>
        <button
          [disabled]="!newPasswordForm.valid"
          class="btn-block full-width"
          color="primary"
          data-test="confirm-registration"
          mat-raised-button
        >
          Passwort ändern
        </button>
        <mat-error *ngIf="error">
          <span> {{error | errorMessage}} </span>
        </mat-error>
        <div style="margin-top: 20px">
          <a
            *ngIf="error === 'CODE_VALIDATION_ERROR'"
            href="registration/reset-password"
            >Neuen Link anfordern</a
          >
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
