.new-password-wrapper {
  height: 100%;
  background-color: #eef;

  .box {
    max-width: 330px;

    .mat-card-header {
      display: block;
      margin: 16px 0 32px;
      font-weight: 700;
      text-align: center;

      mat-card-title {
        margin: 0;
        font-size: 30px;
      }
    }

    .mat-card-content {
      margin: 0;

      .mat-form-field {
        margin-bottom: 6px;
      }
    }
  }

  a {
    color: blue;
    text-decoration: underline;
  }
}

.full-width {
  width: 100%;
}
