<div *ngIf="chatService.dancers$ | async as dancers">
  <code></code>
  <div class="chat-header">
    <h1>Deine Chats</h1>
  </div>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div>
        <div *ngFor="let chat of chatService.chats$ | async">
          <app-chat
            [currentUser]="currentUser"
            [chat]="chat"
            [dancers]="dancers"
            (click)="selectChat(chat.chatId)"
          ></app-chat>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div
        *ngIf="chatService.selectedChat && chatService.messagesByChat$ | async as messagesByChat"
      >
        <div
          *ngFor="let message of messagesByChat[chatService.selectedChat!.chatId]"
        >
          {{message.text}}
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
