<div class="beta-registration-container background-color-accent-A200">
    <div class="beta-registration-info">
      <h1>Dancier - Tanzen verbindet</h1>
      <p class="product-summary">Finde deinen perfekten Tanzpartner und werde Teil einer neuen Community.</p>
    </div>
    <div class="space-container"></div>
    <div class="beta-registration-form">
      <app-beta-signup-type-selector [(type)]="signupType"></app-beta-signup-type-selector>
      <div class="space-container"></div>

      <p>Wir informieren dich per E-Mail über Neuigkeiten zum Projekt.</p>
      <app-beta-signup-form></app-beta-signup-form>
    </div>
</div>
